body {
    background-image: url("images/background.jpg");
    
}

.jumbotronbackground {
    color: rgb(0, 0, 0)!important; 
    text-align: center;
    }

#GameTitle{
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding-bottom: 10px;
}

.winslossbar{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

.computerchoicebar{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

.userchoicebar{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 20px;
}

#diamondyellow{
    width: 30%;
    margin-left: 36%;
}

#diamondblue{
    width: 30%;
    margin-left: 36%;
}

#diamondred{
    width: 30%;
    margin-left: 36%;
}

#diamondgreen{
    width: 30%;
    margin-left: 36%;
}
